/*CSS Reset / Normalize*/
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/

:root {
  /*Insira a variavel das outras cores inspecionando o modelo do figma*/
  /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
  --cor-de-fundo: #f5f5f5;
  --cor-de-link: #000;
  --cor-titulos: #464646;
  --cor-fundo-azul: #eaf2fd;
  --cor-caixas: #fbfbfb;
  --cor-botoes: #2a7ae4;
}

body {
  box-sizing: border-box;
  background-color: var(--cor-de-fundo);
  font-family: 'Raleway';
  margin: 0;
  padding: 0;
  line-height: 1;
}
ol,
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--cor-de-link);
}

/*Neste desafio, gostariamos que praticassem a metodologia BEM, caso seintam a vontade 
de utiliza-la. 

Mas o que é o BEM?

BEM (Block, Element, Modifier) ​​é uma abordagem baseada em componentes para o desenvolvimento
web. A ideia por trás disso é dividir a interface do usuário em blocos independentes.
Isso torna o desenvolvimento de interface fácil e rápido, mesmo com uma interface
de usuário complexa, e permite a reutilização de código existente sem copiar e colar.

Link da documentação oficial!
https://en.bem.info/methodology/quick-start/*/

/*Sessão Menu*/

header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

section.menu {
  display: flex;
  justify-content: space-between;
  padding-left: 5rem;
  padding-right: 5rem;
  align-items: center;
}

.menu__list {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}
/*Sessão Title*/

section.title {
  display: flex;
  background-color: var(--cor-de-fundo);
  padding: 5rem;
}

.title__profile {
  width: 30rem;
  height: 20rem;
  border-radius: 50%;
  box-shadow: 10px 5px 5px rgba(16, 66, 16, 0.952);
}

.title__network {
  display: flex;
  gap: 2rem;
  font-size: 16px;
  padding: 0;
  margin-top: 2rem;
}

.title__div {
  display: flex;
  align-items: center;
  gap: 10rem;
}

.title__bio {
  font-size: 52px;
}

.title__subsection {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
}

.title__profile {
  order: 1;
}
/*Sessão About*/

section.about {
  background-color: var(--cor-fundo-azul);
  padding: 5rem;
}

.about__title {
  font-weight: 700;
  font-size: 32px;
}

.about__paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

/*Sessão Skills*/

#skills {
  font-size: 32px;
  font-weight: 700;
}

section.skills {
  text-align: center;
}

.skills__line {
  padding: 2rem, 5rem, 5rem;
  display: grid;
  grid-template-columns: 15% 15% 15% 15% 15% 15%;
  justify-content: center;
}

.skills__box {
  background-color: var(--cor-caixas);
  margin: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  height: 12rem;
}

.skills__name {
  font-weight: 700;
  font-size: 16px;
  margin-top: 0.5rem;
}

/*Sessão Hobbies*/

.hobbies__title {
  font-size: 32px;
  font-weight: 700;
}

section.hobbies {
  text-align: center;
  margin-bottom: 5rem;
}

.hobbies__line {
  padding: 2rem, 5rem, 5rem;
  display: grid;
  grid-template-columns: 15% 15% 15% 15% 15% 15%;
  justify-content: center;
}

.hobbies__box {
  background-color: var(--cor-caixas);
  margin: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  height: 12rem;
}

.hobbies__name {
  font-weight: 700;
  font-size: 16px;
  margin-top: 0.5rem;
}

/* Experiência Acadêmica*/

section.academic {
  background-color: var(--cor-fundo-azul);
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 5rem;
}
.academic__courses__item__title {
  font-weight: 700;
  font-size: 22px;
}

.academic__title {
  font-weight: 700;
  font-size: 32px;
}
.academic__courses__list {
  padding: 0%;
  margin: 0%;
}

.academic__courses {
  display: grid;
  justify-content: center;
  grid-template-columns: 20% 20% 20% 20% 20%;
}

.academic__courses__box {
  display: flex;
  background-color: var(--cor-caixas);
  margin: 1rem;
  justify-content: center;
  align-items: flex-end;
  width: 22rem;
  height: 15rem;
}

#box1 {
  grid-column-start: 2;
}

/* experiência*/

section.experience {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 5rem;
}

.experience__img {
  width: 50vw;
  height: 30rem;
  margin: 3rem;
  box-shadow: 10px 5px 5px var(--cor-titulos);
}

.experiencie__box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.experiencia__botao--repo {
  background-color: var(--cor-de-fundo);
  padding: 1rem 1.5rem;
  color: var(--cor-botoes);
  border-color: var(--cor-botoes);
  font-size: 16px;
  box-shadow: 10px 5px 5px var(--cor-titulos);
}

.experiencia__botao--demo {
  background-color: var(--cor-botoes);
  padding: 1rem 1.5rem;
  color: var(--cor-de-fundo);
  border-color: var(--cor-botoes);
  font-size: 16px;
  box-shadow: 10px 5px 5px var(--cor-titulos);
  margin-left: 1rem;
}

.experience__info {
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
}

.experience__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

/*Contato*/

.input-container {
  display: flex;
  flex-direction: column;
}

section.formcontato {
  background-color: var(--cor-fundo-azul);
  display: flex;
  justify-content: center;
}

.input-mensagem-erro {
  margin-top: 4px;
  color: rgb(255, 51, 0);
  display: none;
}

.dados-invalido .campo-invalido {
  border: 1px solid rgb(255, 51, 0);
}

.dados-invalido .input-mensagem-erro {
  display: block;
}

#contato {
  display: flex;
}

.formcontato__form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.formcontato__input {
  height: 3rem;
  background-color: var(--cor-caixas);
  border-style: none;
  box-shadow: 10px 5px 5px var(--cor-botoes);
  margin-bottom: 1rem;
  padding: 0.5rem;
}

.formcontato__img {
  margin: 4rem;
}
.formcontato__text {
  margin-top: 3rem;
}

.formcontato__textarea {
  background-color: var(--cor-caixas);
  border-style: none;
  box-shadow: 10px 5px 5px var(--cor-botoes);
  padding: 0.5rem;
  margin-bottom: 1rem;
  height: 5rem;
}
.formcontato__botao {
  background-color: var(--cor-botoes);
  padding: 1rem 1.5rem;
  color: var(--cor-de-fundo);
  border-color: var(--cor-botoes);
  font-size: 16px;
  box-shadow: 10px 5px 5px var(--cor-titulos);
  width: 10rem;
  margin-top: 0.5rem;
}

/*footeer*/

section.footer {
  background-color: #252525;
  padding: 0.5rem;
  text-align: center;
  color: #f5f5f5;
}

/* Chegou a hora de se desafiar com a responsividade, 
utilize como referência os breakpoints @media abaixo*/

/*Tablet*/
@media (max-width: 768px) {
  .all {
    padding: 0;
  }

  /* Menu */
  .menu__list__item {
    display: none;
  }
  /*title*/
  .title__profile {
    width: 10rem;
  }

  .title__div {
    gap: 4rem;
  }
  .title {
    width: 10rem;
  }

  .about {
    width: 100vw;
  }
  /*Skills*/
  .skills__line {
    padding: 2rem, 5rem, 5rem;
    display: grid;
    grid-template-columns: 25% 25% 25%;
    grid-template-rows: 50%;
    justify-content: center;
  }

  /*Hobbies*/
  .hobbies__line {
    padding: 2rem, 5rem, 5rem;
    display: grid;
    grid-template-columns: 25% 25% 25%;
    grid-template-rows: 50%;
    justify-content: center;
  }
  /*Experiências acadêmicas*/
  .academic__courses {
    display: grid;

    grid-template-columns: 30% 30% 30%;
  }

  #box1 {
    display: none;
  }

  #box3 {
    grid-column-start: 3;
  }

  .academic__courses__box {
    display: flex;
    background-color: var(--cor-caixas);
    margin: 1rem;
    justify-content: center;
    align-items: flex-end;
    width: 20rem;
    height: 15rem;
  }
  /*Expeirência profissional*/
  .footer {
    margin-top: 2rem;
  }
}

/*Mobile*/
@media (min-width: 425px) {
  /*Menu*/
  /*ainda falta fazer*/
  /*Titulo*/

  /*Sessão sobre*/

  /*Skills*/

  /*Hobbies*/

  /*Formação Acadêmica*/

  /*Experiência Profissional*/

  /*Contato*/

  /*Footer*/
}
